zookeeper:
  image: jplock/zookeeper
  hostname: zookeeper
  expose:
   - 2181
   - 2888 
   - 3888
master:
  extends:
    file: common.yml
    service: mesos_marathon
  hostname: master
  ports:
   - 5050:5050
  links:
   - zookeeper:zookeeper
  command: ./bin/mesos-master.sh --zk=zk://zookeeper:2181/mesos --ip=0.0.0.0 --work_dir=/var/lib/mesos --quorum=1
marathon:
  extends:
    file: common.yml
    service: mesos_marathon
  hostname: marathon
  ports:
   - 8080:8080
  links:
   - master:master
   - zookeeper:zookeeper
  environment:
   - MESOS_NATIVE_JAVA_LIBRARY=/mesos-0.28.2/build/src/.libs/libmesos.so
  command: /marathon-1.1.1/bin/start --master zk://zookeeper:2181/mesos --zk zk://zookeeper:2181/marathon --max_tasks_per_offer 10
node1:
  extends:
    file: common.yml
    service: mesos_marathon
  links:
   - master:master
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup
    - /usr/bin/docker:/usr/bin/docker
    - /var/run/docker.sock:/var/run/docker.sock
  command: ./bin/mesos-slave.sh --master=master:5050 --containerizers=docker --attributes=rack:rack1;gpu:true --resources=ports(*):[20000-32000] --executor_registration_timeout=10mins  --no-systemd_enable_support 
  privileged: true
  cpu_shares: 256
  mem_limit: 1G
node2:
  extends:
    file: common.yml
    service: mesos_marathon
  links:
   - master:master
  volumes:
   - /sys:/sys
  command: ./bin/mesos-slave.sh --master=master:5050 --containerizers=docker,mesos --attributes=rack:rack2;turtles:true --docker=/usr/local/bin/docky --executor_registration_timeout=10mins --no-systemd_enable_support --launcher=posix
  privileged: true
  cpu_shares: 256
  mem_limit: 1G
node3:
  extends:
    file: common.yml
    service: mesos_marathon
  links:
   - master:master
  volumes:
   - /sys:/sys
  command: ./bin/mesos-slave.sh --master=master:5050 --attributes=rack:rack3 --no-systemd_enable_support --launcher=posix
  privileged: true
  cpu_shares: 256
  mem_limit: 1G

